.hero {
  &__form {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  &__input {
    border-radius: 10px;
    border: none;
    background-color: #030c1b;
    padding: 10px 15px;
    color: #fff;
    margin-right: 25px;
  }

  &__button {
    padding: 10px 15px;
    color: #fff;
    background-color: #030c1b;
    border: none;
    border-radius: 10px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__exit-btn {
    max-width: 130px;
    width: 100%;
    padding: 10px 35px;
    background-color: brown;
    color: #fff;
    margin-right: 50px;
    border-radius: 15px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  &__back-btn {
    max-width: 150px;
    width: 100%;
    border-radius: 15px;
    padding: 10px 15px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #030c1b;
    color: #fff;
  }
}
